<footer class="h-card">
  <div class="grid-left">
    <span class="findme">other places i am</span>
    <ul class="contact">
      <li>
        <span
          ><a href="https://github.com/{{ .Site.Params.hCardGithub}}" rel="me"
            >{{ partial "fontawesome.html" "github" }}{{ .Site.Params.hCardGithub }}</a
          ></span
        >
      </li>
      <li>
        <span
          ><a href="https://instagram.com/{{ .Site.Params.hCardInstagram }}" rel="me"
            >{{ partial "fontawesome.html" "instagram" }}{{ .Site.Params.hCardInstagram }}</a
          ></span
        >
      </li>
      <li>
        <span
          ><a href="https://www.last.fm/user/{{ .Site.Params.hCardLastFM }}" rel="me"
            >{{ partial "fontawesome.html" "lastfm" }}{{ .Site.Params.hcardLastFM }}</a
          ></span
        >
      </li>
      <li>
        <span
          ><a href="https://tumblr.com/{{ .Site.Params.hCardTumblr }}" rel="me"
            >{{ partial "fontawesome.html" "tumblr-square" }}{{ .Site.Params.hCardTumblr }}</a
          ></span
        >
      </li>
      <li>
        <span
          ><a href="https://twitter.com/{{ .Site.Params.hCardTwitter }}" rel="me"
            >{{ partial "fontawesome.html" "twitter" }}{{ .Site.Params.hCardTwitter }}</a
          ></span
        >
      </li>
    </ul>
  </div>

  <div class="h-card-footer mammoth-hcard">
    <a class="p-name" rel="me" href="http://absentmammoth.org"
      >{{ .Site.Params.hCardName }}</a
    >,<br />
    <span class="p-job-title">{{ .Site.Params.hCardJobTitle }},</span><br />
    <span class="p-locality">{{ .Site.Params.hCardLocality }},</span><br />
    <span class="p-region">{{ .Site.Params.hCardRegion }}</span><br />
    <img class="u-photo" width="200" height="200" src="/images/me.png" rel="me" alt="me" />
  </div>
  <br />

  <div class="credits"><a href="/additional-thanks-to">thanks</a>.</div>
</footer>
