<ul class="header-menu">
  {{ $currentPage := . }} {{ range .Site.Menus.main }}
  <li class="links">
    <a href="{{ .URL }}">
      {{ .Pre }}
      <span>{{ .Name }}</span>
      {{ .Post }}
    </a>
  </li>
  {{ end }}
</ul>


<!-- <ul class="menu">
  <li><a href="#">...</a>
    <ul class="header-menu-small-res">
    {{ $currentPage := . }} {{ range .Site.Menus.main }}
      <div class="dropdown">
        <li class="links">
          <a href="{{ .URL }}">
            {{ .Pre }}
            <span>{{ .Name }}</span>
            {{ .Post }}
          </a>
        </li>
      </div>
    {{ end }}
    </ul>
  </li>
</ul> -->
