<div class="h-card">
  <p class="h-card-intro p-note">
    hey, i'm
    <a class="p-name u-url" rel="me" href="http://absentmammoth.org">{{ .Site.Params.hCardName }}</a
    ><img class="u-photo" width="200" height="200" src="/images/me.png" rel="me" alt="me" /> (<span class="p-pronoun-nominative">{{ .Site.Params.hCardNominativePronoun }}</span>/<span class="p-pronoun-oblique">{{ .Site.Params.hCardObliquePronoun }}</span>/<span class="p-pronoun-possessive">{{ .Site.Params.hCardPossessivePronoun }}</span>). i live in <span class="p-locality"> {{ .Site.Params.hCardLocality }}</span>,
    <span class="p-region">{{ .Site.Params.hCardRegion }}</span>. this site is for writing on and
    goofing off. the <a href="/now">/now</a> page gives an update on what i've
    been up to lately and the
    <a href="/monthly-lists">last month's stuff</a> page has monthly lists of
    stuff i took in (movies, articles, shows, music, etc.).
  </p>
</div>
