<div class="h-card">
  <p class="mammoth-hcard">
    hey, i'm
    <a class="p-name" href="http://absentmammoth.org" rel="me">marshall</a
    >&nbsp;<img class="u-photo" src="/images/me.png" rel="me" alt="me" /> (<span
      class="p-x-pronoun-nominative"
      >he</span
    >/<span class="p-x-pronoun-oblique">him</span>/<span
      class="p-x-pronoun-possessive"
      >his</span
    >). i live in <span class="p-locality">colorado springs</span>,
    <span class="p-region">colorado</span>. this site is for writing on and
    goofing off. the <a href="/now">/now</a> page gives an update on what i've
    been up to lately and the
    <a href="/monthly-lists">last month's stuff</a> page has monthly lists of
    stuff i took in (movies, articles, shows, music, etc.).
  </p>
</div>
