.post,
.e-content {
  margin-bottom: $margin-large;
  > p {
    margin: 0 0 $margin-medium 0;
  }

  h1, h2, h3, h4, h5 {
    margin-bottom: $margin-small;
  }

  h6:first-of-type {
    margin: 0 0 $margin-small 0;
  }

  h6 {
    font-variant: all-small-caps;
    margin: 0 0 $margin-small 0;
  }

  ol {
    padding-left: 0;
  }

  ol li {
    margin-bottom: $margin-medium;
  }

  ul li {
    margin-bottom: .2rem;
  }

  ul:not(ul li ul) {
    margin-bottom: $margin-medium;
  }
}

.footnotes {
  background: hsla(271, 55%, 55%, 0.1);
  border-radius: 4px;
  padding: $pad-small $pad-medium;
  --font-size: var(--ms-1);
  font-size: var(--final-font-size);
  margin: auto;
  > hr {
    margin: 0;
    border: none;
  }
}

.summary-post {
  p {
    padding: 0;
  }

  p:not(:last-of-type) {
    margin-bottom: $margin-medium;
  }

  h6 {
    margin-bottom: $margin-small;
  }
}
