/* resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  --x0: var(--font-size-min-breakpoint);
  --y0: var(--font-size-min);
  --x1: var(--font-size-breakpoint);

  --y1: var(--font-size);
  --y0-new: #{'calc(var(--y1) - (var(--y1) - var(--y0)) * var(--font-size-slope))'};

  --a: #{'calc((var(--y1) - var(--y0-new)) / (var(--x1) - var(--x0)))'};
  --b: #{'calc(var(--y0-new) - var(--a) * var(--x0))'};

  --y2: #{'calc(var(--a) * 100vw + var(--b) * 1px)'};
  --final-font-size: #{'calc(var(--y2) + var(--addon))'};
}

html {
  --font-size: var(--ms-2);
  font-size: var(--final-font-size);
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  font-family: $serif;
  font-weight: 400;
  color: $default-color;
  background-color: $grey-1;
}

.container {
  display: grid;
  grid-template-columns:
    minmax(auto, 45ch)
    minmax(0.2rem, 1fr);
  grid-gap: $gap;
  margin-left: 3rem;
  margin-top: $margin-large;
}

/* https://mastery.games/post/article-grid-layout/ */
/* Grid layout */

span, p, a {
  font-family: $serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  word-spacing: .2rem;
}

a:not(.headerlink) {
  color: $purple;
  text-decoration: none;

  &:hover {
    background: hsla(271, 55%, 55%, 0.1);
    color: $default-color;
    border-radius: 8px;
    transition-duration: 0.3s;
  }
}

blockquote {
  border-left: 0.19rem solid $purple;
  border-radius: 4px;
  background: hsla(271, 55%, 55%, 0.1);
  color: $default-color;
  margin-bottom: $margin-medium;
  padding: $pad-small;
  > p {
    padding: 0;
    margin: 0;
  }
}

.pagination {
  margin: 0 auto $margin-large auto;
  .leftarrow-hidden {
    color: transparent;
  }
}

// CSS for making emoji inline
img.emoji {
  display: inline-block;
  left: 0;
  transform: none;
  width: 1rem;
  height: 1rem;
  vertical-align: text-top;
  padding: 0;
  margin: 0;
}

img + em {
  color: #8d6dab;
  display: block;
  font: 500 0.9rem $serif;
  text-align: center;
}
