.credits-style {

  img {
    margin: $margin-small auto;
  }
  p:first-of-type {
    margin-top: $margin-small
  }
  p {
    margin-bottom: $margin-small;
  }
  h6 {
    margin: auto auto 0.8rem auto;
  }
  ol {
    padding-left: 0;
  }
  > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    sup:before {
      content: '[';
    }

    sup:after {
      content: ']';
    }

    sup {
      font: 100 0.7rem $header;
    }
  }

  > ul > li {
    margin-bottom: $margin-small;
  }

  > ul > li:before {
    content: '\232A';
    vertical-align: text-top;
    margin-right: .4rem;
  }
}
