.h-card {
  min-height: 100px;
  > .u-photo {
    display: inline-block;
    width: 4.5em;
    max-width: 100%;
    height: auto;
    margin-top: .35rem;
    aspect-ratio: 1/1;
  }
}

.h-card-intro {
  margin-bottom: $margin-large;
  min-height: 207px;
      > .u-photo {
        width: 4.5em;
        max-width: 100%;
        height: auto;
        float: right;
        shape-outside: url(/images/me.png);
        aspect-ratio: 1/1;
  }
}
