.h-card {
  > .u-photo {
    display: inline-block;
    height: 4.5em;
    width: auto;
    margin-top: .2rem;
  }
}

.h-card-intro {
  margin-bottom: $margin-large;
      > .u-photo {
        height: 4.5em;
        width: auto;
        float: right;
        shape-outside: url(/images/me.png)
  }
}
