.nav-header {
  width: fit-content;
  margin-bottom: $margin-small;
  .headerlink {
    text-decoration: none;
    > h1 {
      word-spacing: .2rem;
      color: $default-color;
      letter-spacing: .2rem;
      font-size: 2.1rem;
    }
  }
}

.header-menu {
  list-style-type: none;
  padding: 0;

  .links {
    letter-spacing: .1rem;
  }

  a span {
    font-size: 1.4rem;
  }
}
