.nav-header {
  width: fit-content;
  margin-bottom: $margin-small;
  .headerlink {
    text-decoration: none;
    > h1 {
      --font-size: var(--ms-6);
      font-size: var(--final-font-size);
      word-spacing: .01em;
      color: $default-color;
      letter-spacing: .02em;
      min-height: 71px;
    }
  }
}

.header-menu {
  list-style-type: none;
  padding: 0;

  .links {
    letter-spacing: .07rem;
  }

  a span {
  --font-size: var(--ms-4);
  font-size: var(--final-font-size);
  }
}
