/* https://www.freecodecamp.org/news/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862/ */

@media (max-width: 899px) {
  html {
    font-size: #{'clamp(16px, -1rem + 4vw, 40px)'};
  }

  .container {
    margin: $margin-large auto 0;
    max-width: 85%;
    width: fit-content;
    grid-column-gap: 0;
    line-height: 1.5;
    footer img {
      display: inline-block;
      width: 3.125rem;
      height: 3.125rem;
      transform: none;
      vertical-align: text-bottom;
    }
  }

  .nav-header {
    margin-right: 0;
    .headerlink {
      h1 {
        font-size: 1.8rem;
        letter-spacing: 0;
        word-spacing: .8rem;
      }
    }
    a span {
      font-size: 1.3rem;
    }
  }
  h2 {
    font-size: 1.3rem;
  }
}

@media (max-width: 599px) {
  html {
    font-size: #{'clamp(12px, -2rem + 9vw, 22px)'};
  }

  .container {
    margin: $margin-medium auto 0 auto;
    max-width: 92%;
    width: fit-content;
    line-height: 1.5;
    footer img {
      display: inline-block;
      width: 4em;
      height: auto;
      transform: none;
      vertical-align: text-bottom;
    }
  }

  .nav-header {
    .headerlink {
      h1 {
        font-size: 1.5rem;
        font-weight: 600;
        letter-spacing: 0;
        word-spacing: 0;
      }
    }
    .header-menu {
      gap: $gap;
    }
    a span {
      font-size: 1.3rem;
    }
  }
}
