.post {
  .post-meta {
    background: hsla(271, 55%, 55%, 0.1);
    border-radius: 4px;
    text-align: center;
    padding: $pad-background;
    line-height: 1.25;
    margin-bottom: $margin-medium;
  }
  .post-info {
    font-family: $serif;
    font-weight: 400;
    font-size: 90%;
    letter-spacing: $spacing-small;
    width: fit-content;
    margin: auto;
  }
  .post-title {
    font-family: $serif;
    border-radius: 8px;
    color: $default-color;
    letter-spacing: $spacing-medium;
    width: fit-content;
    margin: auto;
  }
}

.summary-post {
    .summary-meta {
    background: hsla(271, 55%, 55%, 0.1);
    border-radius: 4px;
    padding: $pad-background;
    text-align: center;
    line-height: 1.25;
    margin-bottom: $margin-medium;
  }

  .summary-post-info {
    font-family: $serif;
    font-weight: 400;
    font-size: 90%;
    letter-spacing: $spacing-small;
    width: fit-content;
    margin: auto;
  }

  .summary-post-title {
    font-family: $serif;
    border-radius: 8px;
    color: $default-color;
    letter-spacing: $spacing-medium;
    width: fit-content;
    margin: auto;
  }
  p:last-child {
    margin-bottom: $margin-medium;
  }
}
