// Colors
$default-color: hsl(266, 10%, 33%);
$grey-1: hsl(300, 1%, 98.5%);
$grey-3: hsl(266, 5%, 40%);
$white: #fff;
$blue: #4a9ae1;
$purple: hsl(271, 27%, 55%);
$code-color-link: #e8afda;

$font-body: 1.2rem;
$font-header: 2rem;
$font-headings: 1.8rem;

$spacing-small: 0.04rem;
$spacing-medium: 0.1rem;

$pad-small: 0.8rem;
$pad-medium: 1.6rem;
$pad-large: 2rem;

$margin-small: 0.8rem;
$margin-medium: 1rem;
$margin-large: 2rem;

$gap-small: .8rem;
$gap-large: 2rem;

// Fonts
$header: 'Vollkorn', sans-serif;
$smallcaps: 'Vollkorn SC', serif;
$monospaced: 'Mononoki Nerd Font Mono', 'Source Code Pro', Menlo, Inconsolata,
  monospace;
$serif: 'Vollkorn';
