// Colors
$default-color: hsl(266, 10%, 33%);
$grey-1: hsl(300, 1%, 98.5%);
$grey-3: hsl(266, 5%, 40%);
$white: #fff;
$blue: #4a9ae1;
$purple: hsl(271, 27%, 55%);
$code-color-link: #e8afda;

/* font math from https://pixelgrade.com/upstairs/creating-true-fluid-web-typography/#boundaries */

:root {
  --font-size-min: 16;
  --font-size-min-breakpoint: 320;
  --font-size-slope: .5;
  --font-size-breakpoint: 899;
  --addon-multiplier: .6;

  @media only screen and (min-width: 900px) {
  --font-size-slope: .2;
  --addon-multiplier: .5;
  }

  --addon-unit: #{'calc(1vw - var(--font-size-breakpoint) * 1px / 100)'};
  --addon: #{'calc(var(--addon-unit) * var(--addon-multiplier))'};
  --ms-ratio: 1.2;
  --ms-0: 16;

  @for $i from 1 through 8 {
    --ms-#{$i}: #{'calc(var(--ms-#{$i - 1}) * var(--ms-ratio))'};
  }
}

$spacing-small: 0.04rem;
$spacing-medium: 0.1rem;

$gap-medium: .8rem;
$gap: 1rem;

$pad-small: calc(#{$gap} * .7);
$pad-medium: calc(#{$gap} * 1.4);
$pad-large: calc(#{$gap} * 2.1);

$margin-small: calc(#{$gap} * .7);
$margin-medium: calc(#{$gap} * 1.4);
$margin-large: calc(#{$gap} * 2.1);

$pad-background: .4rem;

// Fonts
$header: 'Vollkorn';
$smallcaps: 'Vollkorn SC';
$monospaced: 'Mononoki Nerd Font Mono', 'Source Code Pro', Menlo, Inconsolata,
  monospace;
$serif: serif;
