{{define "main"}}

<main>
	<a name="top">
			<div class="fade">
				<a href="{{ .Permalink }}">
					{{ partial "single/posts/post-info.html" . }}
					{{ partial "single/posts/title.html" . }}
				</a>
			</div>
<span class="single-post">
{{ .Content | markdownify }}
</span>
	<div class="pagination">
		{{- if .PrevPage }}
			<a href="{{ .PrevPage.URL }}" class="left arrow">&#8592;</a>
				{{- end }}
			&nbsp;<a href="#top" class="top">top</a>&nbsp;
				{{- if .NextPage }}
			<a href="{{ .NextPage.URL }}" class="right arrow">&#8594;</a>
				{{- end }}	
	</div>
</main>
			
{{ end }}