{{ define "main" }}
<main>
	<div class="tags">
	<h2>tags</h2>
		{{ range .Data.Terms.Alphabetical }}
		<ul class="tags">
				<a href="{{ .Page.Permalink }}">{{ .Page.Title }} #({{ .Count }})</a>
		</ul>
		{{ end }}
	</div>
	
	<div class="pagination">
		{{- if .Paginator.HasPrev -}}
			<a href="{{ .Paginator.Prev.URL }}" class="left arrow">&#8592;</a>
		{{- end -}}
		{{- if .Paginator.HasNext -}}
			<a href="{{ .Paginator.Next.URL }}" class="right arrow">&#8594;</a>
		{{- end -}}
	
		<span>{{ .Paginator.PageNumber }}</span>
	</div>
</main>

{{ end }}