{{ define "main" }} {{ partial "index/introduction.html" . }} {{ range where
(.Paginator).Pages.ByLastmod.Reverse "Section" "posts" }} {{
partial "summary.html" . }} {{ end }}
<div class="pagination">
  {{ if .Paginator.HasPrev }}
  <a href="{{ .Paginator.Prev.URL }}" class="left arrow">&#8592;</a>
  {{ else }}
  <span class="leftarrow-hidden">&#8592;</span>
  {{ end }}
  <span class="pagenumber">{{ .Paginator.PageNumber }}</span>
  {{ if .Paginator.HasNext }}
  <a href="{{ .Paginator.Next.URL }}" class="right arrow">&#8594;</a>
  {{ end }}
</div>
{{ end }}
