
{{ define "main" }}
{{ partial "intro-monthly-lists.html" }}
  {{ range .Pages }}
<article class="summary-post">

    <div class = "summary-meta">
    <a href="{{ .Permalink }}">

        <div class="summary-post-info">
            {{ .Date.Format "Mon, January 2, 2006 | 03:04PM" | lower | }} {{ if ne .Date .Lastmod}}
            <span>updated</span>&nbsp;{{ .Lastmod.Format "Mon, January 2, 2006 | 03:04PM" | lower }}
            {{ end }}
        </div>
        <h2 class="summary-post-title">{{ .Title | markdownify }}</h2>
    </a>
    </div>
    <p>
     {{ .Summary }}
    </p>
</article>
{{ end }}
{{ end }}

