{{ define "main" }}

<article class="post">
    <div class="post-meta">
    <a href="{{ .Permalink }}">
        <div class="post-info">
            {{ .Date.Format "Mon, January 2, 2006 | 03:04PM" | lower | }} {{ if ne .Date .Lastmod}}
            <br>
            <span>updated</span>&nbsp;{{ .Lastmod.Format "Mon, January 2, 2006 | 03:04PM" | lower }}
            </br>
            {{ end }}
        </div>
        <h2 class="post-title">{{ .Title | markdownify }}</h2>
    </a>
</div>
    {{ .Content }}
    {{ if (eq .Section "posts") }}
    {{ partial "partials/backlinks" . }}
    {{ else }}
    {{ end }}
</article>

{{ end }}
