{{ define "main" }}

<article class="post h-entry">
    <div class="post-meta">
    <a class="u-url" href="{{ .Permalink }}">
        <div class="post-info">
            <time class="dt-published">{{ .Date.Format "Mon, January 2, 2006 | 03:04PM" | lower | }} </time> {{ if ne .Date .Lastmod}}
            <span>updated</span>&nbsp;{{ .Lastmod.Format "Mon, January 2, 2006 | 03:04PM" | lower }}
            {{ end }}
        </div>
        <h2 class="post-title p-name">{{ .Title | markdownify }}</h2>
    </a>
</div>
<div class="e-content">
    {{ .Content }}
    {{ if (eq .Section "posts") }}
    {{ partial "partials/backlinks" . }}
    {{ else }}
    {{ end }}
</div>
</article>

{{ end }}
