* {
  @include box-sizing;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
}

html { 
  font-size: 62.5%; 
  font-family: $serif-primary;
  color: $default-color;
  overflow-y: scroll;
  height: 100%;
}

@media all and (min-width: 700px) { 
  html { 
    font-size: 1.4rem; 
  } 
}

@media all and (max-width: 699px) { 
  html{ font-size: 1.125rem; 
  } 
}


body {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 65vw;
  -webkit-font-smoothing: subpixel-antialiased;
}

h1 {
  color: $default-color;
  font-family: $header;
  margin-top: .8rem;
  margin-bottom: .8rem;
}
h2,
h3,
h4,
h5,
h6 {
  color: $default-color;
  font-family: $header;
  margin-top: .8rem;
  font-weight: 600;
  font-variant: all-small-caps;
}

a {
  @include transition(all .2s ease-out);
  color: $purple;
  text-decoration: none;

  &:hover,
  &:focus {
    opacity: .6;
  }
}

blockquote {
  border-left: .25rem solid $purple;
  color: $default-color;
  margin: .8rem 0;
  padding: 0 1.25rem 0 1.25rem;
}

/*
doublecheck these three if i have image/table problems later
*/

img {
  display: block;
  margin: 0 0 1rem;
  max-width: 100%;
}

td {
  vertical-align: top;
}

table {
  margin-left: auto;
  margin-right: auto;
}

details {
  .toc {
  text-align: left !important;
  margin-bottom: .8rem;
  }
}

details > summary {
  width: 15em;
  cursor: pointer;
  list-style: none;
  font: 1.4rem $header;
  font-weight: 600;
}

details > summary::-webkit-details-marker {
  display: none;
}

.mammoth-hcard {
  font-family: $serif-primary;
  font-size: 1.2rem;
  display: inline-block;

  > .u-photo {
      display: inline-block;
      left: 0;
      width: 30px;
      height: 15px;
      transform: none;
      vertical-align: baseline;
      padding: 0;
      margin: 0;
    }
}

.tags {
  text-align: center;
  list-style-type: none;
  margin-top: .8rem;
  font-family: $header;
}

.post {

  a {
    font-size: 1.2rem;
  }

  &-info {

    color: $purple;
    font-family: $serif-primary;
    font-size: .8rem;
    font-weight: 500;
    letter-spacing: .06rem;
    text-align: center;
    margin-top: .8rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;

    span {
      font-style: italic;
    }
  }

  &-title {
    color: $default-color;
    font-family: 'Vollkorn SC';
    letter-spacing: .08rem;
    font-size: 1.8rem;
    text-align: center;
    font-weight: 600;
    margin-bottom: .8rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    font-variant: small-caps;
  }

  p {
    margin-bottom: .8rem;
    max-width: 100%;
    font-size: 1.2rem;
  }

  img {
    margin: 0 auto 0.5rem;
  }

  img+em {
    color: $purple;
    display: block;
    font-family: $header;
    font-size: 0.9rem;
    font-style: normal;
    text-align: center;
  }

  // CSS for making emoji inline
  img.emoji {
    display: inline-block;
    left: 0;
    transform: none;
    width: 1rem;
    height: 1rem;
    vertical-align: text-top;
    padding: 0;
    margin: 0;
  }

  h2 {
    text-align: center;
    font-weight: 700;
    margin-bottom: -.4rem;
  }
   
  h3 {
    text-align: center;
    font-weight: 600;
    font-size: 1.3rem;
  }
  h3,
  h4 {
    font-family: $header;
  }

  h4 {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: -.2rem;
  }

  li {
    font-size: 1.2rem;
    list-style-type: none;
    text-align: center;
  }
}

.pagination {
  margin: .8rem auto .8rem auto;
  max-width: 100%;
  font-family: $header;
  text-align: center;
  list-style: none;

  li {
    list-style: none;
    display: inline-block;
  }

  .top {
    @include transition(all .2s ease-out);
    color: $purple;
    font-family: $serif-primary;
    font-size: .8rem;
    
    &:focus
    &:hover {
      opacity: .6;
    }
  }
}

/* rules for the code blocks */

pre,
code {
  font-family: $monospaced;
}

%code-block {
  overflow-x: auto;
  /* from _syntax.scss */
  background: #282828;
  color: #ebdbb2;
  background-color: #282828;

  border-radius: 3px;
  line-height: 1.4;
  padding: 1rem;
}

code {
  background-color: $grey-3;
  border-radius: 3px;
  color: $code-color;
  font-size: 85%;
  padding: .25em .5em;

  & a {
      color: $code-color-link;
  }
}

pre {
  @extend %code-block;
}


/* TODO: is this a non-highlighted?
 */
pre code {
  background-color: transparent;
  color: inherit;
  font-size: 100%;
  padding: 0;
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.highlight {
  .lineno {
    color: $purple;
    display: inline-block; // Ensures the null space also isn't selectable
    padding: 0 .75rem 0 .25rem;
    // Make sure numbers aren't selectable
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
}
