* {
  line-height: 1.48;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

html { 
  font-size: 62.5%; 
  font-family: $serif-primary;
  color: $default-color;
  overflow-y: scroll;
  height: 100%;
}

@media all and (min-width: 700px) { 
  html { 
    font-size: 1.4rem; 
  } 
}

@media all and (max-width: 699px) { 
  html{ font-size: 1.125rem; 
  } 
}


body {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 65vw;
  -webkit-font-smoothing: subpixel-antialiased;
  text-align: justify;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $default-color;
  font-family: $header;
  font-weight: 600;
}

a {
  @include transition(all .2s ease-out);
  color: $purple;
  text-decoration: none;

  &:hover,
  &:focus {
    opacity: .6;
  }
}

blockquote {
  border-left: .19rem solid $purple;
  color: $default-color;
  margin-bottom: .8rem;
  padding: 0 1.25rem 0 1.25rem;
}

img {
  display: block;
  margin: 0 0 .8rem;
  max-width: 100%;
}

td {
  vertical-align: top;
}

table {
  margin-left: auto;
  margin-right: auto;
}

.mammoth-hcard {
  font-family: $serif-primary;
  font-size: 1.2rem;
  display: inline-block;

  > .u-photo {
      display: inline-block;
      left: 0;
      width: 30px;
      height: 15px;
      transform: none;
      vertical-align: baseline;
      padding: 0;
      margin: 0;
      }
}

  img {
    margin: 0 auto 0.5rem;
  }

  img+em {
    color: $purple;
    display: block;
    font-family: $header;
    font-size: 0.9rem;
    font-style: normal;
    text-align: center;
  }

// CSS for making emoji inline
img.emoji {
  display: inline-block;
  left: 0;
  transform: none;
  width: 1rem;
  height: 1rem;
  vertical-align: text-top;
  padding: 0;
  margin: 0;
}

/* rules for the code blocks */

pre,
code {
  font-family: $monospaced;
}

%code-block {
  overflow-x: auto;
  /* from _syntax.scss */
  background: #282828;
  color: #ebdbb2;
  background-color: #282828;

  border-radius: 3px;
  line-height: 1.4;
  padding: 1rem;
}

code {
  background-color: $grey-3;
  border-radius: 3px;
  color: $code-color;
  font-size: 85%;
  padding: .25em .5em;

  & a {
      color: $code-color-link;
  }
}

pre {
  @extend %code-block;
}


/* TODO: is this a non-highlighted?
 */
pre code {
  background-color: transparent;
  color: inherit;
  font-size: 100%;
  padding: 0;
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.highlight {
  .lineno {
    color: $purple;
    display: inline-block; // Ensures the null space also isn't selectable
    padding: 0 .75rem 0 .25rem;
    // Make sure numbers aren't selectable
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
}
