* {
  line-height: 1.5;
  margin: 0;
  padding: 0;
  @include box-sizing;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  -webkit-font-smoothing: subpixel-antialiased;
}

html {
  color: $default-color;
  font-size: 18px;
}

body {
  margin-left: auto;
  margin-right: auto;
  width: 60vw;
  background-color: $grey-1;
}

@media (min-width: 1441px) and (max-width: 5000px) {
  html {
    font-size: $high-res-text;
  }
  body {
    width: 70vw;
    max-width: 60ch;
    .h-card > .mammoth-hcard > .u-photo {
      width: 2.2rem;
      height: 2.2rem;
    }
  }
}

@media (min-width: 801px) and (max-width: 1440px) {
  html {
    font-size: $mid-res-text;
  }
  body {
    width: 70vw;
    max-width: 60ch;
    .h-card > .mammoth-hcard > .u-photo {
      width: 2.2rem;
      height: 2.2rem;
    }
  }
}

// 1-7-21 special adjustments for super small phone screens, body text is now bigger, title header and links smaller, and post meta larger (incl tags)
@media (min-width: 320px) and (max-width: 800px) {
  html {
      font-size: $low-res-text;
  }
  body {

    width: 90vw;
   
    .nav-header > .headerlink > .title {
      font-size: $small-header-text;
    }
    .header-menu > .links {
      font-size: $small-header-link-text;
    }
    .post-summary > .h-feed-meta > a > .feed-info {
      font-size: 90%;
    }
    .post-summary > .h-feed-meta > a > .feed-title {
      font-size: $small-header-text;
    }
    .post-summary > .tags > .tagsfont {
      font-size: 100%;
    }
    .post-summary > .tags > .tagslist {
      font-size: 100%;
    }
    .individual-post > .post-meta > a > .post-info {
      font-size: 90%;
    }
    .individual-post > .post-meta > a > .post-title {
      font-size: $small-header-text;
    }
    .individual-post > .tags > .tagsfont {
      font-size: 100%;
    }
    .individual-post > .tags > .tagslist {
      font-size: 100%;
    }
    .h-card > .mammoth-hcard > .u-photo {
      width: 2.2rem;
      height: 2.2rem;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $default-color;
  font-family: $header;
  font-weight: 600;
}

a {
  @include transition(all 0.2s ease-out);
  color: $purple;
  text-decoration: none;

  &:hover,
  &:focus {
    opacity: 0.6;
  }
}

blockquote {
  border-left: 0.19rem solid $purple;
  color: $default-color;
  margin-bottom: 0.8rem;
  padding: 0 1.25rem 0 1.25rem;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: 0.4rem auto 0.4rem;
}

img + em {
  color: $purple;
  display: block;
  font: 500 $img-em $header;
  text-align: center;
}

td {
  vertical-align: top;
}

table {
  margin-left: auto;
  margin-right: auto;
}

.h-card {
  margin-bottom: 2rem;

  .mammoth-hcard {
    font-family: $serif-primary;

    > .u-photo {
      display: inline-block;
      left: 0;
      width: 3.125rem;
      height: 3.125rem;
      transform: none;
      vertical-align: text-bottom;
      padding: 0;
      margin: 0;
    }
  }
}

/* this is for the tags/topics page */

.topics-terms {
  margin-bottom: 0.8rem;
  > h2 {
    font: 600 $tags-text $smallcaps;
    font-variant: all-small-caps;
    letter-spacing: 0.08rem;
    text-align: center;
    margin-top: -0.4rem;
  }
  > .topicsul {
    font: 500 $tags-text-ul $header;
    margin-top: -0.4rem;
    text-align: center;
  }
}

// CSS for making emoji inline
img.emoji {
  display: inline-block;
  left: 0;
  transform: none;
  width: 1rem;
  height: 1rem;
  vertical-align: text-top;
  padding: 0;
  margin: 0;
}

/* rules for the code blocks */

pre,
code {
  font: 600 0.8rem $monospaced;
  position: relative;
  max-width: 45rem;
  max-height: 20rem;
  margin: 0.8rem auto 0.8rem auto;
}

%code-block {
  overflow-x: auto;
  /* from _syntax.scss */
  background: #272822;
  color: #f8f8f2;
  background-color: #272822;
  border-radius: 0.4rem;
  padding: 0.8rem;
}

/*played around with padding and vertical-align tweaks on 9-16, not sure how good ` ` looks now but I think better?*/

code {
  background-color: hsl(206.8, 95%, 7.8%);
  border-radius: 0.4rem;
  color: hsl(276.1, 67.7%, 74.5%);
  font: 500 $code-text $monospaced;
  padding: 0.15rem 0.2rem;
  margin: 0.1rem 0.1rem;
  white-space: pre;
  vertical-align: 0.15rem;
  & a {
    color: $code-color-link;
  }
}

pre {
  @extend %code-block;
}

/* TODO: is this a non-highlighted?
 */
pre code {
  background-color: transparent;
  color: inherit;
  font-size: 100%;
  padding: 0;
  display: block;
  margin: auto;
  max-width: 100%;
  white-space: pre-wrap;
}

.highlight {
  .lineno {
    color: $purple;
    display: inline-block; // Ensures the null space also isn't selectable
    padding: 0 0.75rem 0 0.25rem;
    // Make sure numbers aren't selectable
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
}
