.credits-style {
    margin: .8rem auto .8rem auto;
}

.credits-style 
    > .creditsh2 {
    font-family: 'Vollkorn SC';
    font-size: 1.6rem;
    text-align: center;
    font-variant-caps: all-small-caps;
}

.credits-style {
    > ul {
        list-style-type: none;
        sup:before {
        content: '[';
        }
        sup:after {
        content: ']';
        }
        sup {
        font-family: $header;
        font-size: .7rem;
        }
    }
}

.credits-style {
    > ul > li {
    margin-bottom: .2rem;
    }

    > ul > li:before {
    content: '\232A';
    vertical-align: text-top;
    margin: .2rem .2rem;
    }
}

.credits-style {
    .footnotes {

        > hr {
            margin: .8rem auto .8rem auto;
            border: none;
        }

        > ol {
            font-family: $header;
            list-style-position: inside;
            font-size: .8rem;
            font-weight: 100;
            }
    }   
}

