/* if I ever remove the Boris pic, need to remember 
that <hr> is now set to 0 margin*/

.credits-style {
    margin: .8rem auto .8rem auto;
}

.credits-style { 
    > .creditsh2 {
    font: 500 1.6rem 'Vollkorn SC';
    text-align: center;
    font-variant-caps: all-small-caps;
    }
    
    > ul {
        list-style-type: none;
        sup:before {
        content: '[';
        }

        sup:after {
        content: ']';
        }

        sup {
        font: 100 .7rem $header;
        }
    }

    > ul > li {
    margin-bottom: .4rem;
    }

    > ul > li:before {
    content: '\232A';
    vertical-align: text-top;
    }
}

.credits-style {
    .footnotes {

        > hr {
            margin: 0;
            border: none;
        }

        > ol {
            list-style-position: inside;

            > li {
                font: 100 .8rem $header;

                > p {
                font: 100 .8rem $serif-primary;
                margin-bottom: .4rem;
                }
            }
        }
    }
}

