/*
styling for the footer that exists on the bottom of every site page
to do: add a link to a longer credits page
*/

footer {
  font-family: $serif-primary;
  border-top: .19rem solid $default-color;
  font-size: 1.2rem;
  margin: .8rem auto;

  > .flex-container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-top: .8rem;

    > .flexleft {
      max-width: 100%;
      height: 100%;
      > .mysites >.contact {
        list-style: none;
        }
      }

    > .flexright {
        max-width: 100%;
        height: 100%;
      > .h-card > .u-photo {
        width: 50px;
        height: 25px;
      }
    }
  }

  > .credits {
    text-align: center;
    font: 100 .8rem $serif-primary;
    max-width: 100%;
  }
}