/*
styling for the footer that exists on the bottom of every site page
to do: add a link to a longer credits page
*/

footer {
  font: 100 1.2rem $serif-primary;
  border-top: .1rem solid $grey-3;
  margin: .8rem auto;

  > .grid-container {
      display: grid;
      grid-template-columns: 2;
      grid-template-rows: 1;
      justify-content: space-around;
      margin-top: .8rem;

    > .gridleft { 
      grid-area: 1 / 1 / 1 / 1;
      justify-self: start;
      > .mysites >.contact {
        list-style: none;
        }
      }

    > .gridright {
      grid-area: 1 / 2 / 1 / 2;
      justify-self: end;
      > .h-card > .u-photo {
        display: inline-block;
        width: 50px;
        height: 25px;
        vertical-align: baseline;
      }
    }
  }

  > .credits {
    text-align: center;
    font: 100 .8rem $serif-primary;
    max-width: 100%;
  }
}