/*
everything at the top of the site including the black border-bottom
*/

.nav-header {
  margin: .8rem auto;
  border-bottom: .1rem solid $default-color;

  > .headerlink > .title {
    @include transition(all .2s ease-out);
    color: $default-color;
    font: 600 2rem $header;
  
      &:hover,
      &:focus {
      opacity: .6;
    }
  }
}

.header-menu {
    width: 75%;
    display: flex;
    flex-direction: row;
    margin: 0 0 .8rem 0;

    > .links {
    flex-grow: 1;
    font: 500 1.4rem $header;
    letter-spacing: .06rem;
    list-style-type: none;

      > a {
      display: block;
      }
    }
  }
