// For now, I am going to use media-list child selectors for the media-list.md page because it seems
// more organized than filling the .md up with shortcodes {{< >}} {{< / >}} and html tags just to
// access elements and classes in what should be writing-oriented markdown. We'll see if this works.
// I am not sure that it is RSCSS compliant or that it won't break other things on the site.
// media-list.md is currently {{ .Content }} in a div called media-list in the html file of the same name.

.media-list {
  font-size: 1.2rem;
}

.media-list 
  > h2, 
.archive-main 
  > h2 {
  color: $default-color;
  font: 600 1.6rem 'Vollkorn SC';
  font-variant: all-small-caps;
  letter-spacing: .08rem;
  text-align: center;
  margin-top: -.4rem;
}

.media-list 
  > h3, 
.archive-main 
  > h3 {
  color: $default-color;
  font: 600 1.4rem $header;
  letter-spacing: .08rem;
  text-align: center;
}

.media-list 
  > h4, 
.archive-main 
  > h4 {
  font: 400 1rem $serif-primary;
  margin-top: .4rem;
}

.media-list 
  > ul > li, 
.archive-main 
  > ul > li {
  list-style-type: none;
} 

.media-list 
  > ul > li:before,
.archive-main 
  > ul > li:before {
    content: '\232A';
    vertical-align: text-top;
  }

.media-list
  > .fade {
  @extend a;
  }

.list-info {
    font: 500 .8rem $serif-primary;
    letter-spacing: .06rem;
    text-align: center;
    margin-top: .2rem;

    > .italicinfo {
    font-style: italic;
  }
}

.archive-link {
  font: .7rem $serif-primary;
  text-align: center;
  margin: .8rem 0 .8rem 0;
  }

.archive-main.md {
  margin-bottom: .8rem;
  font-size: 1.2rem;
}