// For now, I am going to use media-list child selectors for the media-list.md page because it seems
// more organized than filling the .md up with shortcodes {{< >}} {{< / >}} and html tags just to
// access elements and classes in what should be writing-oriented markdown. We'll see if this works.
// I am not sure that it is RSCSS compliant or that it won't break other things on the site.
// media-list.md is currently {{ .Content }} in a div called media-list in the html file of the same name.

.media-list {
  font-size: $body-text;
}

.media-list > h2,
.archive-main > h2 {
  color: $default-color;
  font: 600 $h2-custom $smallcaps;
  font-variant: all-small-caps;
  margin-top: -0.4rem;
  letter-spacing: 0.08rem;
  text-align: center;
}

.media-list > h3,
.archive-main > h3 {
  color: $default-color;
  font: 600 $h3-custom $smallcaps;
  font-variant: all-small-caps;
  letter-spacing: 0.08rem;
  text-align: center;
}

.media-list > h4,
.archive-main > h4 {
  font: 400 $h4-custom $serif-primary;
  margin-top: 0.4rem;
}

.media-list > ul > li,
.archive-main > ul > li {
  list-style-type: none;
  font-size: $link-list-link;
}

.media-list > ul > li:before,
.archive-main > ul > li:before {
  content: '\232A';
  vertical-align: text-top;
}

.media-list > .fade {
  @extend a;
}

.list-info {
  font: 500 $list-info-size $header;
  letter-spacing: 0.06rem;
  text-align: center;
  margin-top: 0.2rem;
  // obviously normally 'italic' but removing for now
  > .italicinfo {
    font-style: none;
  }
}

.archive-link {
  font: $archive-link $serif-primary;
  text-align: center;
  margin: 0.8rem 0 0.8rem 0;
}

.archive-main.md {
  margin-bottom: 0.8rem;
  font-size: $body-text;
}
