// For now, I am going to use media-list child selectors for the media-list.md page because it seems
// more organized than filling the .md up with shortcodes {{< >}} {{< / >}} and html tags just to
// access elements and classes in what should be writing-oriented markdown. We'll see if this works.
// I am not sure that it is RSCSS compliant or that it won't break other things on the site.
// media-list.md is currently {{ .Content }} in a div called media-list in the html file of the same name.

.media-list {
  font-size: 1rem;
}

.media-list 
  > h2 {
  color: $default-color;
  font-family: "Vollkorn SC";
  letter-spacing: .08rem;
  font-size: 1.6rem;
  text-align: center;
  font-weight: 600;
  font-variant: all-small-caps; 
  margin-top: -.4rem;
}

.media-list 
  > h3 {
  color: $default-color;
  font-family: $header;
  letter-spacing: .08rem;
  font-size: 1.4rem;
  text-align: center;
  font-weight: 600;
  }

.media-list 
  > h4 {
    font-family: $serif-primary;
    font-size: 1rem;
    font-weight: 400;
    margin-top: .2rem;
  }

.media-list
  > ul > li {
  list-style-type: none;
  } 
.media-list 
  > ul > li:before {
    content: '\232A';
    vertical-align: text-top;
  }

.media-list
  > .fade {
  @extend a;
  }

.list-info {
    font-family: $serif-primary;
    font-size: .8rem;
    font-weight: 500;
    letter-spacing: .06rem;
    text-align: center;
    margin-top: .2rem;

    > .italicinfo {
    font-style: italic;
  }
}