.pagination {
  margin: 0.8rem auto 0.8rem auto;
  font-family: $header;
  text-align: center;
  list-style: none;

  > .leftarrow-hidden {
    opacity: 0%;
  }

  a.top {
    @include transition(all 0.2s ease-out);
    color: $purple;
    font-family: $serif-primary;
    font-size: 0.7rem;

    &:focus &:hover {
      opacity: 0.6;
    }
  }
}
