.pagination {
  margin: .8rem auto .8rem auto;
  font-family: $header;
  text-align: center;
  list-style: none;
  

  a.top {
    @include transition(all .2s ease-out);
    color: $purple;
    font-family: $serif-primary;
    font-size: .7rem;
    vertical-align: text-top;
    
    &:focus
    &:hover {
      opacity: .6;
    }
  }
}