.pagination {
  margin: 1rem auto 1rem;
  @extend %max-width;

  font-family: $serif-secondary;
  padding-top: 3rem;
  text-align: center;

  list-style: none;
  li {
    list-style: none;
    display: inline-block;
  }

  span {
    color: $default-shade;
    font-size: .8rem;
  }

  .top {
    @include transition(all .2s ease-out);
    color: $default-color;
    font-family: $serif-primary;
    font-size: .8rem;
    opacity: 1;

    &:hover {
      opacity: .6;
    }
  }
}
