.individual-post {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: auto;

  > .toc {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    justify-self: start;
    font-family: $serif-primary;
    
    > details > summary {
    font-size: .7rem;
    cursor: pointer;
    }
    > details > summary::-webkit-details-marker {
      display: none;
    }

    > details > ul {
      font-size: .7rem;
      text-transform: lowercase;
      list-style-type: none;
    }

    > details > ul li {
      list-style-type: none;
    }
    > details > ul li:before {
      content: '\232A';
      vertical-align: text-top;
    }
  }

  > .post-meta {
    @extend a;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
    white-space: nowrap;

    > a > .post-info {
    font-family: $serif-primary;
    font-size: .9rem;
    letter-spacing: .04rem;
    
          > .italicinfo {
        font-style: italic;
    }
  }

    > a > .post-title {
    color: $default-color;
    font-family: "Vollkorn SC";
    margin: -.4rem 0 0 0;
    letter-spacing: .08rem;
    font-size: 1.8rem;
    font-weight: 600;
    font-variant: all-small-caps; 
    }
  }

  > .tags {
  font-size: .7rem;
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  justify-self: end;
  font-family: $serif-primary;
  text-align: center;

    > .tagslist {
      list-style-type: none;
    }
  }

  > .whole-post {
    font-size: 1.2rem;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    font-family: $serif-primary;

    > p {
      margin-bottom: .8rem;
      font-size: 1.2rem;
    }

    > blockquote {
      border-left: .19rem solid $purple;
      color: $default-color;
      margin-bottom: .8rem;
      padding: 0 1.25rem 0 1.25rem;
    }
  }
}