.post-summary {
	display: grid;
	grid-template-columns: 5fr 1fr;
	grid-template-rows: 1fr;

	> .h-feed-meta {
		@extend a;
		text-align: left;
		margin-bottom: .8rem;

		> a > .feed-info {
			font-family:  $header;
			font-weight: 100;
			letter-spacing: 0.04rem;
		}

		> a > .feed-title {
			font-family: $smallcaps;
			font-weight: 600;
			letter-spacing: 0.08rem;
			font-variant: all-small-caps;
			line-height: 1;
		}
	}

	> .tags {
		font-family: $header;
		font-size: 80%;

		> .tagslist {
			list-style-type: none;
		}
	}

	> .feed-post {
		font-family: $serif-primary;
		font-weight: 100;
		grid-area: 2 / 1 / 2 / 4;
		> p {
			margin-bottom: 0.8rem;
		}
		> p:last-child {
			margin-bottom: 0;
		}
		> h6 {
			font-family: $header;
			font-size: 65%;
			margin-top: .8rem;
		} 
	}
}

.post-summary:nth-child(n + 3) {
	margin-top: 1.6rem;
}
