.post-summary {
  margin: .8rem auto auto auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  
  > .h-feed-meta {
  @extend a;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;

    > a > .feed-info {
      font-family: $serif-primary;
      font-size: .8rem;
      font-weight: 500;
      letter-spacing: .06rem;
      text-align: center;
      white-space: nowrap;

          > .italicinfo {
        font-style: italic;
      }
    }

    > a > .feed-title {
      color: $default-color;
      font-family: $header;
      margin-top: -.4rem;
      letter-spacing: .08rem;
      font-size: 1.8rem;
      text-align: center;
      font-weight: 600;
      font-variant: all-small-caps;
    }
  }
  > .tags {
  font-size: .7rem;
  grid-column-start: 3;
  grid-row-start: 1;
  margin-top: 0;
    > .tagsfont {
      font-size: .7rem;
    }
  }

  > .feed-post {
  max-width: 100%;
  font-size: 1.2rem;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  }
}