// Colors
$default-color: hsl(266, 1%, 29%);
$grey-1: hsl(300, 1%, 99%);
$grey-3: hsl(0, 0%, 97.6%);
$white: #fff;
$blue: #4a9ae1;
$purple: hsl(271, 27%, 55%);
$code-color: #960050;
$code-color-link: #e8afda;

// Fonts
$serif-primary: 'EB Garamond', serif;
$serif-secondary: 'EB Garamond', serif;
$header: 'Vollkorn', serif;
$smallcaps: 'Vollkorn SC', serif;
$monospaced: 'Fira Code', Menlo, Inconsulata, monospace;

@mixin box-sizing($type: border-box) {
  -webkit-box-sizing: $type;
    -moz-box-sizing: $type;
      box-sizing: $type;
}

@mixin transition($args...) {
  -webkit-transition: $args;
    -moz-transition: $args;
      transition: $args;
}


