// Colors
// default-color was prev #555
$default-color: #58545D;
$default-shade: #353535;
// default-tint was #aaa
$border-color: #502D72;
$grey-1: #979797;
$grey-2: #e5e5e5;
$grey-3: #f9f9f9;
$white: #fff;
$blue: #4a9ae1;
$purple: #BA90DE;
$shadow-color: rgba(0, 0, 0, .2);
$code-color: #bf616a;
$code-color-link: #e8afda;

// Fonts
$serif-primary: 'EB Garamond', serif;
$serif-secondary: 'EB Garamond', serif;
$header: 'Vollkorn', 'serif';
$monospaced: 'Fira Code', Menlo, Inconsulata, monospace;

@mixin box-sizing($type: border-box) {
  -webkit-box-sizing: $type;
     -moz-box-sizing: $type;
          box-sizing: $type;
}

@mixin transition($args...) {
  -webkit-transition: $args;
     -moz-transition: $args;
          transition: $args;
}


