// Colors
$default-color: hsl(266, 10%, 33%);
$grey-1: hsl(300, 1%, 99%);
$grey-3: hsl(266, 5%, 40%);
$white: #fff;
$blue: #4a9ae1;
$purple: hsl(271, 27%, 55%);
$code-color-link: #e8afda;

// Fonts
$serif-primary: 'XCharter', 'Charter', serif;
$serif-secondary: 'XCharter', 'Charter', serif;
$header: 'Vollkorn', serif;
$smallcaps: 'Vollkorn SC', serif;
$monospaced: 'Source Code Pro', Menlo, Inconsolata, monospace;

//Font sizes, _base.scss
$body-text: 1.2rem;
$img-em: 0.9rem;
$tags-text: 1.8rem;
$tags-text-ul: 1rem;
$code-text: 0.6rem;

//Font sizes, _header.scss
$header-text: 2rem;
$header-links: 1.5rem;

//Font sizes, _media-list.scss
$h2-custom: 1.8rem;
$h3-custom: 1.6rem;
$h4-custom: 1.2rem;
$list-info-size: 1rem;
$link-list-link: 1.2rem;
$archive-link: 0.8rem;

@mixin box-sizing($type: border-box) {
  -webkit-box-sizing: $type;
  -moz-box-sizing: $type;
  box-sizing: $type;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  transition: $args;
}
